################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorBindOrderBug/v16
/.vs
/src/.vs/BlazorBindingOrderBug/v16
/src/.vs/BlazorBindingOrderBug
